{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Listado de Personas {% endblock %}
{% block titulo_principal %} Consultorio odontologico {% endblock %}
{% block principal %}
    <div class="container">
        <form method="post" enctype="multipart/form-data" novalidate="">
            {% csrf_token %}
            {% form.errors %}
                <div class="alert-danger">
                    <p>Hay errores en los datos ingresados, por favor verifique:</p>
                    {{ form.non_field_errors }}
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                    <hr/><br/>
                </div>
            {% endif %}
            <h2>Persona</h2>
            <div class="col-sm-5 maincontent ">
                 <div class="row">
                    <div class="col-xs-2">
                        {{ form.nombre.label }} {{ form.nombre }}
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-3">
                        {{ form.apellido.label }} {{ form.apellido }}
                     </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        {{ form.num_doc.label }} {{ form.num_doc }}
                     </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        {{ form.num_cuit.label }} {{ form.num_cuit }}
                     </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        {{ form.fecha_nac.label }} {{ form.fecha_nac }}
                     </div>
                </div>
                 <div class="row">
                    <div class="col-xs-3">
                        {{ form.telefono.label }} {{ form.telefono }}
                     </div>
                </div>
                 <div class="row">
                    <div class="col-xs-3">
                        {{ form.email.label }} {{ form.email }}
                     </div>
                </div>
                 <div class="row">
                    <div class="col-xs-3">
                        {{ form.direccion.label }} {{ form.direccion }}
                     </div>
                </div>
                 <div class="mb-3">
                    <div class="col-xs-3">
                        {{ form.localidad.label }} {{ form.localidad }}
                     </div>
                </div>


                <input type="submit" name="submit" value="Guardar" class="btn btn-primary">
            </div>
          </form>
    </div>

{% endblock %}